* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

main {
    margin: 5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    padding: 50px 80px;
    background: linear-gradient(45deg, #6b79ce, #03b4d3);
    color: #fff;
    text-align: center;
    max-width: 50%;
}

.image {
    width: 40%;
}

.image img {
    width: 100%;
}

/* main {
    padding: 4rem 0;
} */

p {
    margin-bottom: 4rem;
}

label {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
}

input,
textarea {
    margin: 5px 0 15px 0;
    border: none;
    padding: 10px;
    display: block;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

input::placeholder {
    font-size: 0.9rem;
    font-weight: 400;
}

textarea {
    text-align: justify;
}

#form button {
    background-color: #f9e50d;
    margin-top: 2rem;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s ease;
}

#form button:hover {
    color: #f9e50d;
    background-color: #8e0b0a;
}

/**** responsive design ****/
/* medium screen */
@media only screen and (min-width:765px) and (max-width:990px) {
    #form {
        padding: 50px 40px;
    }

}

/* small screen */
@media only screen and (max-width:765px) {
    main {
        margin: 4rem 2rem;
    }

    h1 {
        font-size: 2.3rem;
        font-weight: 600;
        text-align: center;
    }

    .image {
        display: none;
    }

    #form {
        min-width: 100%;
        padding: 50px 30px;
    }
}