/**** google fonts ****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/**** global root variables ****/
:root {
    --poppins: 'Poppins', sans-serif;
    --work-sans: 'Work Sans', sans-serif;
    --padd: 0 5rem;
}

/**** reset browser default settings ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

/**** body section ****/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**** behaviour of html ****/
html {
    scroll-behavior: smooth;
}

/**** all h2 in section element ****/
section h2 {
    margin-bottom: 3rem;
}

/**** header section ****/
/**** navbar ****/
nav {
    padding: var(--padd);
}

/**** navbar logo ****/
.navbar-brand img {
    width: 60px;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

.nav-item {
    padding: 0 10px;
}

/**** each navbar link ****/
.nav-item .nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.nav-item .nav-link:hover {
    color: #8e0b0a;
    text-decoration: underline;
}

/**** disabled navbar link ****/
.nav-item .disabled {
    color: #ffffff3b;
}

/**** button to toggle navbar in smaller screen ****/
.navbar-toggler {
    background: url("../images/menu.png") no-repeat;
    background-position: center;
    background-size: 1.3rem;
}

/**** contact button ****/
.contact {
    padding: 5px 10px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background-color: #8e0b0a;
    transition: 0.7s ease;
    color: #fff;
}

.contact:hover {
    cursor: pointer;
    color: #8e0b0a;
    background-color: #f9e50d;
}

/**** footer section ****/
footer {
    background-color: #212529;
    font-family: var(--work-sans);
    font-weight: 500;
    text-align: center;
    padding: 3rem;
    color: #fff;
    margin-top: auto;
}

footer i,
.terms {
    margin-bottom: 1rem;
}

footer i {
    color: #fff;
    padding: 0 10px;
}

footer a {
    text-decoration: none;
    color: rgb(85, 187, 109);
}

footer i:hover,
footer a:hover {
    color: #f9e50d;
}

/**** responsive design ****/
@media only screen and (max-width:450px) {
    footer {
        padding: 3rem 1.5rem;
    }

    .fab {
        font-size: 25px;
    }

    footer .terms {
        font-size: small;
    }
}

@media only screen and (max-width:600px) {
    :root {
        --padd: 0 2.6rem;
    }
}